
@{
    ViewBag.Title = "Consulta";
}
<script type="text/javascript">
    var urlConsulta = '@Url.Content("~/Consulta/")';
</script>
<div class="row ">

    <div class="col-md-offset-4 col-xs-offset-4">
        <h1>Consultar Conta-Corrente</h1>

        <div class="col-md-offset-1 col-xs-offset-1">
            <div class="form-group">
                <label for="IdConta">ID da Conta</label>
                <input class="form-control" id="IdConta" placeholder="Ex. 123456" />
            </div>
        </div>
        <div class="col-md-offset-2 col-xs-offset-2">
            <button id="consultar" onclick="Redirect()" class="btn btn-default">Consultar</button>
        </div>
    </div>

</div>
@section scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>
    <script>

    function Redirect() {
        var id = $("#IdConta").val();

        window.location = "@Url.Content("~/Consulta/Conta")" + "?id=" + id;
    }
    $("#IdConta").mask('0#')
    </script>
    <script type="text/javascript">
        $(function () {
            $("#IdConta").mask('0#')
        })
    </script>
}
